@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 1.8s infinite;
}
