@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

.animate-scroll {
  animation: scroll 1.8s infinite;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY();
    }
}

.animate-fade-up {
    animation: fade-up 0.6s ease-out forwards;
}